/* start global rules */
:root {
    --main-color: #19c8fa;
    --transparent-color: rgb(15 116 143 / 70%);
    --section-padding: 100px;
}
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
html {
    scroll-behavior: smooth;
}
body {
    font-family: "Open Sans", sans-serif;
}
ul {
    list-style: none;
}
a{
    text-decoration: none;
    color: white;
}
.container {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}
/* end global rules */
/* Start Components */
/* end Components */
/* start header */
header{
    position: absolute;
    left: 0;
    width: 100%;
    z-index: 2;
}
header .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    min-height: 97px;
}
header .container::after{
    content: "";
    position: absolute;
    height: 1px;
    background-color: #a2a2a2;
    bottom: 0;
    width: calc(100% - 30px);
    left: 15px;
}
header .container nav{
    display: flex;
    align-items: center;
}
header .container nav ul{
    display: flex;
    z-index: 2;
    transition: 0.3s;
}
header .container nav ul li a{
    font-size: 14px;
    transition: 0.3s;
}
header .container nav ul li{
    padding: 39px 10px;
    transition: 0.3s;
}
header .container nav .form{
    display: flex;
    width: 40px;
    height: 30px;
    justify-content: flex-end;
    align-items: center;
    border-left: 1px solid #ffffff;
    margin-left: 30px;
    color: #ffffff;
    font-size: 20px;
    font-weight: 900;
}
header .container .logo img{
    height: 40px;
}
header .container nav ul .active{
    border-bottom: 1px solid var(--main-color);
    z-index: 2;
}
header .container nav ul .active a{
    color: var(--main-color);
}
header .container nav ul li:hover {
    border-bottom: 1px solid var(--main-color);
    z-index: 2;
}
header .container nav ul li:hover a{
    color: var(--main-color);
}
header .container nav .fa-bars{
    color: white;
    font-size: 22px;
}
/* end header */
/* start landing */
.landing{
    min-height: 100vh;
    background-color: #1f2021;
    background-image: url("../media/landing.jpg");
    background-size: cover;
    position: relative;
}
.landing .overlay{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0 0 0 / 60%);
}
.landing .text{
    width: 50%;
    background-color: var(--transparent-color);
    padding: 50px;
    position: absolute;
    color: white;
    display: flex;
    justify-content: flex-end;
    top: 50%;
    transform: translateY(-50%);
}
.landing .text .content{
    flex-direction: column;
    max-width: 500px;
}
.landing .text .content h2 {
    font-size: 32px;
    font-weight: normal;
    line-height: 1.5;
    margin-bottom: 20px;
}
.landing .text .content p {
    font-size: 14px;
    line-height: 2;
}
.landing .fa-angle-left{
    left: 30px;
}
.landing .fa-angle-right{
    right: 30px;
}
.landing .fa-angle-right, .landing .fa-angle-left{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: #ddd;
}
.landing .bullets{
    display: flex;
    left: 50%;
    position: absolute;
    transform: translateX(-50%);
    bottom: 30px;
}
.landing .bullets li{
    width: 20px;
    height: 20px;
    border: 1px solid white;
    border-radius: 50%;
}
.landing .bullets li.active{
    background-color: var(--main-color);
    border-color: var(--main-color);
    margin: 0  10px;
}
/* end landing */
/* start mediaqurry */
@media (max-width: 768px) {
    header .container nav ul{
        display: none;
    }
    header nav .toggle-menu:hover + ul li{  
        padding: 15px;
    }
    header nav .toggle-menu:hover + ul{
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        background-color: rgb(0 0 0 / 50%);
    }
    header .container nav .fa-bars{
        display: block;
    }
    .landing .change-background {
        display: none;
    }
    .landing .text{
        width: 100%;
    }
}

@media (min-width: 768px) {
    .container{
        width: 750px;
    }
    header .container nav .fa-bars{
        display: none;
    }
    header .container nav ul{
        display: flex;
    }
}

@media (min-width: 992px) {
    .container{
        width: 970px;
    }
}

@media (min-width: 1200px) {
    .container{
        width: 1170px;
    }
}
/* end mediaqurry */
